$color-accent: #f15a29;
$color-bg: #eee;
$color-bg-alternate: #f15a29;
$color-border: #bbb;
$color-button-hover: #f15a29;
$color-button-pressed: #b6411b;
$color-text: #58595b;
$color-text-alternate: #eee;