@import 'colors';
@import 'fonts';

$margin-default: 25px;

html {
    overflow-x: hidden;
}

p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a:hover {
    color: $color-accent;
}

.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav content side";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
}

// Header

header {
    grid-area: header;
}

.logo {
    display: block;
    max-width: 90%;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

// End header

// Navigation

nav {
    grid-area: nav;
    margin-left: 0.5rem;
}

.nav-links { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
    margin: 0 $margin-default;

    > a {
        font-size: 1.75em;
    }
}

// End navigation

main {
    grid-area: content;

    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content {
            position: sticky;
            top: 0;
            margin: 0 $margin-default $margin-default $margin-default;
        }
    }

    section:nth-child(odd) {
        background: $color-bg-alternate;
        color: $color-text-alternate;
    }
}

// Side bar

aside {
    grid-area: side;
    margin-right: 0.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
    margin: 0 $margin-default;
}

// End side bar

@media (max-width: 768px) {
    .container {
        grid-template-areas:
        "header"
        "nav"
        "content"
        "side";

        grid-template-columns: 1fr;
        grid-template-rows:
        auto // Header
        minmax(100vh, auto) // Nav
        1fr // Content
        minmax(100vh, auto); // Sidebar
    }

    nav, aside {
        margin: 0;
    }
}